:root {
    --primary: #477c5f;
    --primary-010: #21804d;

    --secondary: #06628a ;
    --secondary-010: #06374e;

    --white: #fff;
    --black: #313831;
    --black-010: #414741;

    --grey: #9b9ba0;

}